*{
    padding: 0;
    margin: 0;
    vertical-align: top;
    font-family: "Lunasima";
    color: white;
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    font-size: 2em;
}

.lienfilm{
    width: 2%;
}
body{
    background-image: url(../img/6484259.jpg);

}

main{
    height: fit-content;
}

a{
    text-decoration: none;
    color: white;
}
.nav1{
    display: flex;
    width: 10%;
}

.logocine{
    width: 50%;
    transform: rotate(-65deg);
    text-align: center;
    justify-content: center;
    padding-top: 3.5em;
    padding-left: 0.5em;

}

.lienlogo{
    display: flex;
    flex-direction: column;
    width: 10%;
    
}
.txtlogo{
    font-size: 1em;
    padding-top: 0.8em;
    text-align: center;
}

.loupe{
    padding-right: 1em;
    width: 40%;
}

.imgloupe{
    width: 50%;
}
.commonH2{
    color : white;
    text-align: center;
    font-size: 4.5em;
    letter-spacing: 25px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

footer{
    height: 20em;
    background-color: rgb(0, 0, 0);
    transform: translate(0, 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.logoreseau{
    padding: 0 1em;
}

.reseaux{
    width: 100%;
    padding-bottom: 2em;
}

.mention{padding: 3em 0;}

.bannerfooter{
    height: 60em;
    background: linear-gradient(180deg, rgba(27, 24, 24, 1) 1%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 1) 100%);
}

.h2main{
    margin-top: -8em;
}

.custom-slider { display: none; }
.slide-container {
    position: relative;
    margin: auto;
    transform: translate(0, -100%);
}
.prev, .next {
    cursor: pointer;
    z-index: 9;
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.6s ease;
}
.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}
.slide-img{
    width: 100%;
    height: 50em;
    object-fit: cover;
    object-position: center;
}
.slide-dot{ 
    text-align: center; 
    transform: translate(0, -50em);
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover { background-color: #ffffff; }
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
.banner{
    height: 50em;
    background: linear-gradient(180deg, rgba(27, 24, 24, 1) 1%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 1) 100%);
    z-index: 2;
}

.bannertotal{
    display: flex;
    flex-direction: column;
}

.actu{
    display: flex;
    padding : 10em 0;
    justify-content: center;
    align-items: center;
}

.actu3{padding: 0;
padding-top: 10em;}
.containerimgactu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.imgactu{
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.containerimgactu2{
    width: 50%;
    .imgactu2{
        width: 90%;
    }
} 
.containerimgactu3{
    width: 50%;
    .imgactu3{
        width: 260%;
        transform: translate(-30%, 0);
    }
}

.txtActu{
    width: 50%;
    text-align: center;
    .h3actu{
        font-size: 6em;
    }
    .pActu{
        font-size: m;
        text-align: center;
        padding : 0 4em;
        padding-top: 1.5em;
    }
}

.contentfilms{
    width: 80%;
    background-color: rgb(51, 51, 94);
    background: opacity 0.5;
}

.contenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.actuellement{
    display: flex;
}