*{
    padding: 0;
    margin: 0;
    vertical-align: top;
    font-family: "Lunasima";
    color: white;
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    font-size: 2em;
}

.lienfilm{
    width: 2%;
}
body{
    max-width: 100%;
    background-image: url(../img/6484259.jpg);
    height: auto;
    background-attachment: fixed;

}

main{
    height: fit-content;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: ease-in-out 0.5s;
}

a:hover{
    color: #665bce;
}
.nav1{
    display: flex;
    width: 10%;
}

.logocine{
    width: 50%;
    transform: rotate(-65deg);
    text-align: center;
    justify-content: center;
    padding-top: 3.5em;
    padding-left: 0.5em;

}

.lienlogo{
    display: flex;
    flex-direction: column;
    width: 10%;
    
}
.txtlogo{
    font-size: 1em;
    padding-top: 0.8em;
    text-align: center;
}

.loupe{
    padding-right: 1em;
    width: 40%;
}

.imgloupe{
    width: 50%;
}
.commonH2{
    color : white;
    text-align: center;
    font-size: 4.5em;
    letter-spacing: 25px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

footer{
    height: 20em;
    background-color: rgb(0, 0, 0);
    transform: translate(0, 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.logoreseau{
    padding: 0 1em;
}

.reseaux{
    width: 100%;
    padding-bottom: 2em;
}

.mention{padding: 3em 0;}

.bannerfooter{
    height: 60em;
    background: linear-gradient(180deg, rgba(27, 24, 24, 1) 1%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 1) 100%);
}

.h2main{
    margin-top: -8em;
}

.custom-slider { display: none; }
.slide-container {
    position: relative;
    margin: auto;
    transform: translate(0, -100%);
}
.prev, .next {
    cursor: pointer;
    z-index: 9;
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.6s ease;
}
.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}
.slide-img{
    width: 100%;
    height: 50em;
    object-fit: cover;
    object-position: center;
}
.slide-dot{ 
    text-align: center; 
    transform: translate(0, -50em);
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover { background-color: #ffffff; }
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
.banner{
    height: 50em;
    background: linear-gradient(180deg, rgba(27, 24, 24, 1) 1%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 1) 100%);
    z-index: 2;
}

.bannertotal{
    display: flex;
    flex-direction: column;
}

.actu{
    display: flex;
    padding : 10em 0;
    justify-content: center;
    align-items: center;
}

.actu3{
    padding: 0;
    padding-top: 10em;
}
.containerimgactu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.imgactu{
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.containerimgactu2{
    width: 50%;
    .imgactu2{
        width: 90%;
    }
} 
.containerimgactu3{
    width: 50%;
    .imgactu3{
        width: 260%;
        transform: translate(-30%, 0);
    }
}

.txtActu{
    width: 50%;
    text-align: center;
    .h3actu{
        font-size: 6em;
    }
    .pActu{
        font-size: 4em;
        text-align: center;
        padding : 0 4em;
        padding-top: 1.5em;
    }
}

.test{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5em;
}

.contentfilms{
    width: 80%;
    background-color: rgba(23, 23, 73, 0.3);
    border: 5px white solid;
    border-radius: 90px;
    margin-top: 8em;
}

.affichefilm{
    width: 70%;
    border-radius: 70px;
    border: 5px white solid;
}
.titrefilm{
    font-size: 3em;
    padding-top: 1em;
}

.film{
    padding: 0 3em;
    padding-bottom: 15em;
    
}

.films{
      display: grid;
      grid-template-columns: repeat(3, 42em);
      justify-content: center;
      
}

.titrecontentfilm{
    font-size: 5em;
    padding: 0.5em 0;
}

.actuellement{
    border-bottom: 5px white solid;
    margin-bottom: 8em;
}

.prochainement{
    border-top: 2.5px white solid;
    margin-bottom: 4em;
}

.afficheinfo{
    display: flex;
    padding-bottom: 15em;
    justify-content: space-between;
}

.infofilm{
    width: 50%;
    padding-top: 10em;
}

.detAfficheFilm{
    width: 50%;
}

.synopsis{
    text-align: center;
    font-size: 2em;
    .titresynopsis{
        font-size: 2em;
        padding-bottom: 1em;
    }
}

.imgaffichefilm{
    display: flex;
    width: 70%;
    border-radius: 50px;
    border: 5px white solid;
    margin-left: 10em;
}

.txtinfofilm{
    font-size: 2em;
    padding-bottom: 2em;
}

.pageFilm{
    padding-top: 6em;
}

.bandeannonce{
    padding-top: 10em;
    display: flex;
    justify-content: center;
}

li{
    padding-left: 5em;
    list-style-type: none;
    transform: translate(0%, -95%);
}

.listActeurs{
    padding-top: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.acteur{
    margin-bottom: 0.5em;
    font-size: 2em;
}


.displayFilms{
    display: grid;
    grid-template-columns: repeat(4, 30em);
    justify-content: center;
    text-align: center;
}
.sectionsForm{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.pform{
    margin-bottom: 3em;
    font-size: 1.5em;
    text-align: center;
    margin: 3em;
}

.inputform{
    height: 3em;
    width: 25em;
    color: black;
    text-align: center;
    border-radius: 50px;
    margin-top: 3em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.boutonenvoyer {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.boutonenvoyer:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.boutonenvoyer:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.boutonenvoyer:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.button{
    text-align: center;
}

.listgenre{
    margin-bottom: 7em;
}

.delete{
    background-image: radial-gradient(100% 100% at 100% 0, #d15656 0, #7a1515 100%); 
}
.delete:focus {
    box-shadow: #ca2b2b 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #690303 0 -3px 0 inset;
}
.delete:active {
    box-shadow: #8b0a0a 0 3px 7px inset;
    transform: translateY(2px);
}
.delete:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #640505 0 -3px 0 inset;
    transform: translateY(-2px);
}

.formfilm{
    display: flex;
    flex-direction: column;
}

.section1{
    display: flex;
    vertical-align: bottom;
    justify-content: center;
    text-align: center;
    margin-bottom: 4em;
}


@media screen and (max-width: 1920px) {
    .films{
        grid-template-columns: repeat(3, 25em);
    }
    .banner{
        height: 51em;
    }
    .imgactu{
        width: 80%;
        margin-left: 6em;
    }
    .imgactu3{
        width: 20%;
    }
    .txtActu{
        font-size: 0.8em;
    }
}
